<tr>
  <td>
    <%= report.data_id %>
  </td>
  <td>
    <%= new Date(report.event_date).toDateString() %>
  </td>
  <td>
    <%= report.year %>
  </td>
  <td>
    <%= report.event_type.toUpperCase() %>
  </td>
  <td>
    <%= report.sub_event_type.toUpperCase() || "Misc" %>
  </td>
  <td>
    <%= report.actor1.toUpperCase() %>
  </td>
  <td>
    <%= report.assoc_actor_1.toUpperCase() || "None" %>
  </td>
  <td>
    <%= report.actor2.toUpperCase() || "None" %>
  </td>
  <td>
    <%= report.assoc_actor_2.toUpperCase() || "None" %>
  </td>
  <td class="title-case">
    <%= report.country.toUpperCase() %>
  </td>
  <td class="title-case">
    <%= report.admin1.toUpperCase() %>
  </td>
  <td class="title-case">
    <%= report.admin2.toUpperCase() %>
  </td>
  <td>
    <%= report.latitude.toFixed(5) %>
  </td>
  <td>
    <%= report.longitude.toFixed(5) %>
  </td>
  <td>
    <%= report.source.toUpperCase() %>
  </td>
  <td>
    <%= report.notes || "None" %>
  </td>
  <td>
    <%= Number(report.fatalities) || "Unknown" %>
  </td>
  <td>
    <%= new Date(report.timestamp).toISOString() %>
</tr>