<tr>
  <td>
    <%= report.id %>
  </td>
  <td>
    <%= new Date(report.event_date).toDateString() %>
  </td>
  <td>
    <%= report.year %>
  </td>
  <td>
    <%= report.event_type.toUpperCase() %>
  </td>
  <td>
    <%= report.sub_event_type.toUpperCase() || "Misc" %>
  </td>
  <td>
    <%= report.actor1.toUpperCase() %>
  </td>
  <td>
    <%= report.actor1_assoc.toUpperCase() || "None" %>
  </td>
  <td>
    <%= report.actor2.toUpperCase() || "None" %>
  </td>
  <td>
    <%= report.actor2_assoc.toUpperCase() || "None" %>
  </td>
  <td class="title-case">
    <%= report.country %>
  </td>
  <td class="title-case">
    <%= report.admin1 %>
  </td>
  <td class="title-case">
    <%= report.admin2 %>
  </td>
  <td>
    <%= report.lat.toFixed(5) %>
  </td>
  <td>
    <%= report.lon.toFixed(5) %>
  </td>
  <td>
    <%= report.source.toUpperCase() %>
  </td>
  <td>
    <%= report.notes || "None" %>
  </td>
  <td>
    <%= report.fatalities || "Unknown" %>
  </td>
  <td>
    <%= new Date(report.timestamp).toISOString() %>
</tr>