<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include("partials/_head", { page: "Add Report" }) %>
  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav") %>

    <!-- Security Classification -->
    <%- include("partials/_security_classification", {classification:
    "Unclassified"}) %>

    <!-- Add Report Content -->
    <div class="my-5 container w-50">
      <form id="add-new-report" action="/reports/add" method="POST" >
        <div class="row">
          <!-- Iterate fields !except notes and id -->
          <% Object.keys(fieldNames) .filter(field => !['id', 'api_id', 'api_event_id', 'analyst_id'].includes(field)).forEach(fieldRaw => { %>
            <h5 class="my-2"><%= fieldNames[fieldRaw] %></h5>
            <%- include("partials/_add_report_field", { fieldHuman: fieldNames[fieldRaw], fieldRaw, unique: unique[fieldRaw] }) %> 
          <% }) %>
        </div>
        <button id="new-report-submit" type="submit" class="btn btn-primary">Submit New Record</button>
      </div>
    </form>
    <!-- View Specific Scripts -->
  </body>
</html>
