<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include("partials/_head", {page: "View Report"}) %>
  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav") %>
    <!-- Security Classification -->
    <%- include("partials/_security_classification", {classification:
    "Unclassified"}) %>

    <!-- Record Content -->
    <h4 class="text-center mt-5">View & Edit Record Details</h4>
    <div class="container d-flex align-content-center mt-2">
      <form action="/reports/<%= report.id %>" method="post" class="w-100">
        <div class="row report-container w-100">
          <div class="col-2 text-left">
            <% Object.keys(fieldNames).slice(1, -1).forEach(field => { %>
              <p class="my-0"><a href="#record-update-<%= field %>"><%= fieldNames[field].humanName %></a></p>
            <% }) %>
          </div>
          <div class="col-8">
            <% Object.keys(report).slice(1, -1).forEach(field => { %>
              <p style="margin: 1em 0em" id="record-update-<%= field %>" class="view-record-field text-left"><%= fieldNames[field].humanName %></p>
              <textarea name="recordUpdate<%= field %>" class="view-record-data w-100" value=""><%= report[field] %></textarea>
            <% }) %>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-success w-100 my-3">Update</button>
            <button class="btn btn-danger w-100">Delete</button>
          </div>
        </div>
      </form>
    </div>

    <!-- View Specific Scripts -->
    <script type="text/javascript" src="/js/d3.v6.min.js"></script>
    <script>
      $(document).ready(function() {
        $('textarea').each((index, textarea) => {
          console.log($(textarea).attr('name'))
          $(textarea).attr('style', `height: ${$(textarea).scrollHeight}em`);
        });
      })
    </script>
  </body>
</html>
