<!DOCTYPE html>
<html lang="en">
  <!-- Head partial -->
  <%- include("partials/_head", { page: "View Reports" }) %>
  <body>
    <!-- Nav Partial -->
    <%- include("partials/_nav") %>

    <!-- Security Classification -->
    <%- include("partials/_security_classification", { classification:
    "unclassified" }) %>

    <!-- View Reports -->
    <div class="d-flex justify-content-center mt-5">
      <button id="reports-view-geo-btn" class="w-50 btn btn-success d-none">Visualize</button>    
      <div
        id="reports-table-loading"
        class="spinner-border text-primary"
        role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <table
      id="reports-table"
      class="invisible w-100 table table-sm table-bordered stripe table-striped"
    >
      <thead class="thead-dark">
        <tr>
          <% Object.keys(fieldNames).forEach(field => { %>
            <th style="vertical-align: middle; text-align: center;" data-toggle="tooltip" data-placement="top" title="<%= fieldNames[field].description %>">
              <%= fieldNames[field].humanName %>
            </th>
          <% }) %>
        </tr>
      </thead>
      <tfoot class="thead-dark">
        <% Object.keys(fieldNames).forEach(field => { %>
        <th style="vertical-align: middle; text-align: center">
          <%= fieldNames[field].humanName %>
        </th>
        <% }) %>
      </tfoot>
    </table>

    <!-- View Specific Scripts -->
    <!-- Datatables init -->
    <script
      type="text/javascript"
      src="/js/datatables/datatables.min.js"
    ></script>
    <!-- Datatables buttons styler -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/js/datatables/datatables.min.css"
    />
    <!-- Popper.js -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Moment.js -->
    <script type="text/javascript" src="/js/moment.js"></script>
    <!-- On load, convert the table to a data table -->
    
    <script>
      $(document).ready(() => {
        const fields = <%- JSON.stringify(fieldNames) %>

        // Hide the loader and show the table and geo button
        $("#reports-table").removeClass("invisible");
        $("#reports-view-geo-btn").removeClass("d-none");
        $("#reports-table-loading").remove();

        const table = $("#reports-table").DataTable({

          // JS for data
          data: <%- JSON.stringify(records) %>,

          columns: Object.keys(fields).map(f => {
            return {  data: f  }
            }),

          // Scroll x plane
          scrollX: true,

          // Dont' resize
          autoWidth: false,
          
          // Allow reorder
          colReorder: false,

          // Notes & source column max length 64 char and generate popup text
          columnDefs: [

            // Set timestamp to date
            {
              targets: [4, -1],
              type: 'date',
              render: data => moment(data).format('DD-MMM-YYYY')
            },
            // Cast fatalities as a number
            {
              targets: -2,
              render: data => {
                return (data === "None" ? 0 : data)
              }
            },
            // Shorten long fields
            {
              targets: [-4, -3, -7],
              className: "truncate",
              render: data => {
                return (data ?
                `<a data-toggle="popover" data-trigger="focus" tabindex="0" data-content='${data}'>${data}</a>` 
                : 'None')
              },
            },
            // Link to report
            {
              targets: 0,
              render: data => `<a href="reports/${data}"><b>${data}</b></a>`
            },
            // Hide some columns
            {
              targets: [6, 8, 10, 11, 12, 14, 15, 17, 18, 22],
              visible: false,
              searchable: true,

            }
          ],

          // Add search panes for 5 columns
          searchPanes: {
            cascadePanes : true,
            viewTotal : true,
            threshold: 1,
            // Event Type, Sub Event Type, Actor 1, Actor 2, Admin 1, Location
            columns: [5, 7, 14, 6, 9, 16],
          },

          // Enable route in app.js to put workload on server
          //processing: true,
          //ajax: {
          //    url: '/api/reports',
          //    type: 'GET',
          //},

          // Build the DOM for Bootstrap and datatables
          dom:
            "<'row'<'my-2 query-builder col-sm-12 col-md-12 col-lg-12'Q>>" +
            "<'row'<'my-2 date-picker-container row col-sm-12 col-md-12 col-lg-12'>>" +
            "<'row'<'float-lg-right col-sm-4 col-md-4 col-lg-9'B><'col-sm-4 col-md-4 col-lg-1'l><'col-sm-4 col-md-4 col-lg-2'f>>" +
            "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-8'p>>" +
            "<'row'<'col-lg-12'tr>>" +
            "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-8'p>>",


          // B U T T O N S
          buttons: ["copy", "excel", "csv", "pdf", "print", "colvis", { 
            text: 'Toggle Search Panes', action: () => $(".dtsp-container").fadeToggle()
          }, {
            text: 'Toggle Query Builder', action: () => $(".query-builder").fadeToggle()
          },],
        });

        // E N D S   T A B L E   G E N E R T A T I O N

        // Add the search panes to the table top
        table.searchPanes.container().prependTo(table.table().container());

        // Enable tooltips
        $(function () {
          $('[data-toggle="popover"]').popover({ trigger: "hover" });
        });

        // On table draws, update rows and rebuilt popovers
        // Current visible rows
        currentRows = [...table.columns({ search: 'applied' }).data()[0]];
        table.on("draw", function () {
          $('[data-toggle="popover"]').popover({ trigger: "hover" });
          // Current visible rows
          currentRows = table.columns({ search: 'applied' }).data()[0];
        });

         // On geo button click, move to map with data
        $("#reports-view-geo-btn").click(() => {
          $("#virtual-form").remove();
          const form = $(`
            <form id="virtual-form" class="invisible" action="/geo" method="post" target="_blank" rel="noreferrer noopener">
              <input type="text" name="report_ids" value="${currentRows}"/>
              <input type="submit" id="virtual-form-submit" />
            </form>`);
          $("body").append(form);
          $("#virtual-form-submit").click();
        });

        // Add date pickers
        $(".date-picker-container").html(
          `
          <div class="input-group input-date-range col-4">
            <div class="input-group-prepend">
              <span class="input-group-text">From date:</span>
            </div>
            <input type="date" id="min-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd">
          </div> 
          <div class="input-group input-date-range col-4">
            <div class="input-group-prepend">
              <span class="input-group-text">To date:</span>
            </div> 
            <input type="date" id="max-date" class="form-control date-range-filter" data-date-format="yyyy-mm-dd">
          </div>
          `
        )
        
        // Extend dataTables search
        $.fn.dataTable.ext.search.push(
          function(settings, searchData, index, rowData, counter) {
            // Min date
            const min = $('#min-date').val();
            // Max date
            const max = $('#max-date').val();
            // Col time stamp
            const timestamp = searchData[4];

            if (
              (!min || !max) ||
              (moment(timestamp).isSameOrAfter(min) && moment(timestamp).isSameOrBefore(max))
            ) {
              return true;
            }
            return false;
          }
        );

        // Re-draw the table when the a date range filter changes
        $('.date-range-filter').change(() => table.draw());
      });
    </script>
    <style>
      .odd,
      .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgb(216, 216, 216);
        padding: 5px;
      }
      .table-bordered td, .table-bordered th {
        border: transparent;
      }
      td {
        text-align: center;
      }
    </style>
  </body>
</html>
