<!DOCTYPE html>
<html lang="en">
<!-- Head partial -->
<%- include("partials/_head", { page: "View Reports" }) %>
<body>
  <!-- Nav Partial -->
  <%- include("partials/_nav") %>

  <!-- Security Classification -->
  <%- include("partials/_security_classification", { classification: "unclassified" }) %>
  
  <!-- View Reports -->
  <table id="reports-table" class="table table-sm table-bordered table-striped table-hover">
    <div id="table-tools">
    </div>
    <thead class="thead-dark">
      <% rowTitles = [
        "ID", "Event Date", "Year", "Event Type", "Sub Event Type",
        "Actor 1", "Actor 1 Association", "Actor 2", "Actor 2 Association",
        "Country", "Admin 1", "Admin 2", "Latitude", "Longitude", "Source",
        "Notes", "Fatalities", "Timestamp"
        ]
      %>
      <tr>
        <% rowTitles.forEach(title => { %>
          <th style="vertical-align: middle; text-align: center;"><%= title %></th>
        <% }) %>
      </tr>
    </thead>
    <tbody>
      <% Object.values(reports).forEach(report => { %>
        <%- include("partials/_report_table_row", { report: report }); %>
      <% }) %>
    </tbody>
    <tfoot>
      <% rowTitles.forEach((title, index) => { %>
        <th style="vertical-align: middle; text-align: center;"><%= title %></th>
      <% }) %>
    </tfoot>
  </table>

<!-- View Specific Scripts -->
<!-- Datatables init -->
<script type="text/javascript" src="/datatables/datatables.min.js"></script>
<!-- Datatables buttons styler -->
<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>

<!-- On load, convert the table to a data table -->
<script>
  $(document).ready( function () {
    const table = $('#reports-table').DataTable({
      scrollX: true,
      colReorder: true,
      rowReorder: true,
      searchPanes: {
        threshold: 1,
        columns: [1, 3, 4, 10, 14]
      },
      "dom": 
      "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-12 col-md-4'i><'pt-5 col-sm-12 col-md-8'p>>" +
      "<'row'<'mt-4 col-sm-12 col-md-4'B><'mt-4 query-builder col-sm-12 col-md-8'Q>>",
      buttons: [
        'copy', 'excel', 'csv', 'pdf', 'print', 'colvis', 
    ]
    });
    table.searchPanes.container().appendTo(table.table().container());
    // Toggle columns
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
 
        // Get the column API object
        const column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
  }); 
</script>
</body>
</html>